/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




button:hover {
  cursor: pointer;
}

button {
  outline: none;
}


.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(189, 181, 181, 0.95);
  z-index: 10;
  animation-name: modal-background-fade-in;
  animation-duration: 0.5s;
}

@keyframes modal-background-fade-in {
  from {
    background: transparent;
  }
  to {
     background: rgba(189, 181, 181, 0.95);
  }
}

@keyframes modal-slide-in {
  from {
    top: -100%;
  }
  to {
    top: 50%;
  }
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: modal-slide-in;
  animation-duration: 0.5s;
}

.close-x {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
}






