.top-banner {
  background-image: url(asset_path("crowd2.jpg")); 
  background-size: cover;
  height: 360px;
}
.signedout-header {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
  align-items: center;
}

.signedin-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
  align-items: center;
  border: 1px solid black;
  background-color: #333333;
}

.user-show-link {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  background-color: transparent;
  color: rgb(244, 241, 255);
  margin: 10px;
  text-decoration: none;
}

.user-show-link:hover {
  color: white;
}

.right-banner {
  margin-right: 5px;
}

.header-link {
  text-decoration: none;
  color: black;
}

.signin-button, .signup-button, .logout-button {
  margin: 5px;
  padding: 2px 11px 2px 11px;
  font-size: 11px;
  line-height: 20px;
  height: 26px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
;
}

.signin-button {
  border: 1px solid white;
  border-radius: 3px;
  background-color: transparent;
  color: white;
}

.signup-button {
  background-color: #FF5500;
  color: white;
  border: 1px white;
  border-radius: 3px;
}

 .logout-button {
   border: 2px solid white;
   border-radius: 3px;
   background-color: white;
   color: rgba(21, 44, 121, 0.849);
   margin-right: 10px;
 }

.soundsky {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 17px;
  background-color: transparent;
  color: white;
  margin-left: 10px;
  text-decoration: none;
}