.session-form-container {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.login-form > h3 {
  margin: 10px;
  font-size: 32px;
  font-family: 'Overpass', sans-serif;
}

.login-form > input {
  width: 90%;
  height: 37px;
  margin: 5px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 4px;
}

.login-input {
  margin-left: 20px;
  font-size: 19px;
  text-align: left;
  text-indent: 5px;
  font-family: 'Overpass', sans-serif;
}

.login-form-box {
  outline: 1px solid white;
  border-color: white;
  border-radius: 2px;
  height: 500px;
  width: 400px;
  padding: 20px;
  background: rgb(255, 255, 255);
  position: relative;
  display: flex;
  align-items: center;
}

.session-submit {
  background-color: #FF5500;
  height: 40px;
  width: 91%;
  margin: 5px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 4px;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.session-submit:hover {
  cursor: pointer;
}

.session-submit > p {
  color: white;
  font-family: 'Overpass', sans-serif;
  font-size: 17px;
}

.demo-user {
  background-color: #FF5500;
  height: 40px;
  width: 91%;
  margin: 5px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 4px;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.demo-user > p {
  color: white;
  font-family: 'Overpass', sans-serif;
  font-size: 17px;
}

.session-errors {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  color: rgb(245, 7, 7);
}


.session-track-errors {
  margin-top: 30px;
  margin-left: 55px;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  color: rgb(245, 7, 7);
}
