.top-banner {
  background-image: url(asset_path("crowd2.jpg")); 
  background-size: cover;
  height: 400px;
  width: 1234;
}

.splash-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
//   border: 2px solid red;
}

.splash-content-container > h1 {
    margin-top: 50px; 
    font-family: 'Overpass', sans-serif;
    font-size: 25px;
    color: rgb(61, 60, 60); 
    margin-bottom: 50px;
}
.track-row-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}


.track-row-container2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative;
}


.image-container > img {
  width: 170px;
  height: 170px;
  padding: 10px; 
}

.splash-track-title {
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: rgb(37, 37, 37);
  margin-left: 10px;
  text-decoration: none;
}

.splash-artist-link {
  color: rgb(141, 137, 137); 
  letter-spacing: 1px;
  font-size: 13px;
  text-decoration: none;
  margin-top: 3px;
  margin-left: 11px;
}

.image-container > a:hover {
  color: black;
}

.splash-play-pause-buttons-container {
  position: absolute;
  width: 138px;
  height: 138px;
  top: 31px;
  left: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.image-container:hover > .splash-play-pause-buttons-container > .splash-play-button {
  display: block;
}

.image-container:hover > .splash-play-pause-buttons-container > .splash-pause-button {
  display: block;
}

.splash-play-button, .splash-pause-button {
    height: 55px;
    width: 55px;
    display: none;
}

.join-in-container {
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-in-container > h1 {
  font-size: 38px;
  font-family: 'Overpass', sans-serif;
  font-weight: 200;
  color: rgb(44, 44, 44);
}

.splash-upload {
  margin-top: 15px;
  background-color: #FF5500;
  color: white;
  width: 150px;
  height: 33px;
  border: 1px white;
  border-radius: 3px;
  font-size: 14px;
  font-family: 'Overpass', sans-serif;
}

.splash-buttons-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-buttons-container > h1 {
  font-size: 26px;
  font-family: 'Overpass', sans-serif;
  font-weight: 200;
  color: rgb(44, 44, 44);
}

.splash-create-account {
  margin-top: 15px;
  background-color: #FF5500;
  color: white;
  width: 200px;
  height: 50px;
  border: 1px white;
  border-radius: 3px;
  font-size: 18px;
  font-family: 'Overpass', sans-serif;
  font-weight: lighter;
  margin-bottom: 15px;
}

.splash-signin-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 220px;
}

.splash-signin-container > p {
  font-size: 13px;
  font-weight: lighter;
  font-family: 'Overpass', sans-serif;
}

.splash-sign-in {
  padding: 6px 10px 6px 10px;
  border: 1px solid rgb(187, 185, 185);
  font-size: 16px;
  font-family: 'Overpass', sans-serif;
  font-weight: 200;
  margin-left: 6px;
}