 .delete-form-box {
   outline: 1px solid white;
   border-color: white;
   border-radius: 2px;
   height: 350px;
   width: 450px;
   padding: 20px;
   background: rgb(255, 255, 255);
   position: relative;
   display: flex;
   flex-direction: column;
 }

 .delete-track-artist-name {
    text-decoration: none;
    font-size: 11px;
    color: grey;
 }

 .delete-track-title{
    font-size: 13px;
    color: rgb(59, 59, 59);
 }

 .delete-track-image {
    width: 8em;
    height: 8em; 
    object-fit: cover;
    border: 1px solid black;
 }


 .delete-track-header{
     border-top: 1px solid rgb(212, 208, 208);
     font-family: 'Overpass', sans-serif;
     font-weight: 400;
     padding-top: 15px;
     margin-top: 40px;
     font-size: 14px;
     text-align: left;
     color: rgb(39, 39, 39);
 }

 .delete-info {
     padding-top: 15px;
     font-family: 'Overpass', sans-serif;
     font-weight: 200;
     font-size: 11px;
     left: 70px; 
     margin-top: 15px;
     margin-left: 15px;
     width: 170px; 
 }

 .delete-buttons {
     margin-top: 10px;
     display: flex;
     justify-content: left;
     padding: 10px;
     position: absolute;
     right: 5px;
     bottom: 10px;
 }

 .delete-cancel-button, .delete-forever-button {
     margin-right: 10px;
     font-size: 10px; 
 }

 .delete-forever-button:hover {
     border-color: rgb(172, 168, 168);
 }