.outside-container {
    width: 100%;
    background-color: rgb(233, 231, 231);
    height: 100%;
}

.track-show-main-container {
    width: 1243px;
    min-height: 900px;
    height: 100%;
    background-color: white;
    margin-left: 12px;
}

.track-show-top-banner {
    margin-top: 44px;
    height: 380px;
    width: 100%;
    background: rgb(134,110,100);
    background: linear-gradient(90deg, rgba(134,110,100,1) 49%, rgba(102,81,81,1) 100%);
    position: relative;
}

.track-show-artist {
    position: absolute;
    top: 30px;
    left: 120px;
    font-size: 18px;
    color: rgb(184, 182, 182);
    width: 100px;
    padding: 3px 5px 3px 5px;
    width: fit-content;
    background-color: black;
    font-family: 'Overpass', sans-serif;
    text-decoration: none;
}

.track-show-artist:hover {
    color: rgb(228, 227, 227);
    cursor: pointer;
}

.track-show-title {
    position: absolute;
    top: 60px;
    left: 120px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    width: 100px;
    padding: 3px 5px 3px 5px;
    width: fit-content;
    background-color: black;
    font-family: 'Overpass', sans-serif;
}

.track-show-play-pause-buttons-container {
    display: flex;
    justify-content: left;
    padding-left: 10px;
    position: absolute;
    top: 23px;
    left: 30px;
}

.track-show-play-pause-buttons-container:hover {
    cursor: pointer;
}

.track-show-play-button, .track-show-pause-button {
    height: 75px;
    width: 75px;
}

.track-show-album-pic {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 335px;
    width: 335px;
    object-fit: cover;
}

.track-show-uploaded-time {
    position: absolute;
    right: 390px;
    top: 30px;
    font-size: 18px;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    margin-bottom: 3px;
    color: rgb(250, 250, 250);
}

.track-show-track-genre {
    position: absolute;
    right: 390px;
    top: 60px;
    background-color: rgb(158, 155, 155);
    color: white;
    font-size: 17px;
    font-family: 'Overpass', sans-serif;
    border-radius: 25px;
    padding: 3px 5px 3px 5px;
    width: fit-content;
}

.main-content-and-related-tracks-container {
    display: flex;
    justify-content: space-around;
}

.track-show-main-content{
    margin-top: 15px;
    width: 885px;
    height: fit-content; 
    border-right: 1px solid rgb(221, 220, 220);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.write-comment-container {
    width: 93%;
    height: 40px;
    background-color: rgb(233, 231, 231);
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
}

.track-show-artist-pic {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.write-comment-input {
    background-color: white;
    width: 92%;
    margin-left: 10px;
    height: 20px;
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    text-indent: 10px;
    border: rgb(221, 220, 220);
    border-radius: 3px;
    outline: none;
}

::placeholder {
    color: rgb(160, 159, 159);
}

.track-show-buttons-container {
    width: 93%;
    height: 40px;
    border-bottom: 1px solid rgb(221, 220, 220);
    display: flex;
    align-items: center;
    justify-content: left;
}

.track-show-edit-button, .track-show-delete-button, .track-show-like-button, .track-show-liked-button {
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 20px;
    width: 60px;
    display:flex; 
    justify-content: center; 
    align-items:center;
    font-size: 9px;
    font-family: 'Overpass', sans-serif;
    border: 1px solid rgb(226, 226, 226); 
    padding: 2px 6px 2px 6px;
    letter-spacing: 1px;
}

.track-show-edit-button > p, .track-show-delete-button > p, .track-show-like-button > p, .track-show-liked-button > p {
    font-size: 14px;
}

.track-show-edit-button:hover, .track-show-delete-button:hover, .track-show-like-button:hover, .track-show-liked-button:hover {
    border: 1px solid rgb(56, 56, 56); 
    cursor: pointer;
}

.track-show-pencil-icon {
    height: 20px;
    width: 20px;
    margin-right: 3px;
} 

.track-show-trash-icon {
    height: 15px;
    width: 15px;
    margin-right: 3px; 
}

.track-show-like-icon {
    height: 12px;
    width: 12px;
    margin-right: 5px; 
}

.track-show-liked-button {
    border-color: red;
}

.track_info_and_comments_container {
    display: flex;
    justify-content: left;
    height: 100%;
    width: 100%;
    margin-top: 25px;
}

.artist-info-and-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 17%;
    margin-left: 18px;
}

.comments-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
    width: 80%;
    margin-left: 15px;
    margin-bottom: 50px;
}

.track-show-main-artist-pic {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    object-fit: cover;
}

.artist-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    margin-top: 7px;
}

.track-show-artist-name {
    margin-left: 15px;
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: rgb(56, 55, 55);
}

.track-show-artist-name:hover {
    color:black;
    cursor: pointer;
}

.track-show-description-container {
    width: 94%;
    height: fit-content;
    border-bottom: 1px solid rgb(221, 220, 220); 
}

.track-show-description {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    color: rgb(65, 64, 64);
    font-size: 15px;
}

.track-show-track-genres {
    margin-top: 10px;
    background-color: rgb(136, 134, 134);
    color: white;
    font-size: 14px;
    font-family: 'Overpass', sans-serif;
    border-radius: 25px;
    padding: 3px 5px 3px 5px;
    width: fit-content;
    margin-bottom: 15px;
}

.comment-section {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 10px ;
    height: fit-content;
    width: 100%;
}

.comment-user-pic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.comment-artist-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment-username {
    color: rgb(141, 139, 139);
    font-size: 14px;
    font-family: 'Overpass', sans-serif;
    text-decoration: none;
}

.comment-body {
    font-size: 14px;
    font-family: 'Overpass', sans-serif;
}

.comment-section-content {
    display: flex;
    justify-content: left;
    width: 85%;
}

.comment-section-time {
    width: 15%;
}

.comment-uploaded-time {
    font-size: 13px;
    font-family: 'Overpass', sans-serif;
    color: rgb(155, 153, 153);
}

.number-of-comments {
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    color: rgb(155, 153, 153);
    margin-bottom: 10px;
}

.comment-icon {
    height: 15px;
    width: 15px;
    margin-right: 7px;
}

.comment-trash-icon-container {
    border: 1px solid rgb(139, 137, 137);
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 23px;
    top: 17px; 
}

.comment-trash-icon-container:hover {
    cursor: pointer;
}

.comment-trash-icon {
    height: 15px;
    width: 15px;
    padding: 3px;
}

.comment-section:hover .comment-trash-icon-container {
    visibility: visible;
}

.quiet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 95%;
}

.comment-icon-big {
    height: 200px;
    width: 200px;
    opacity: .1;
}

.quiet-header-1 {
    font-size: 18px;
    font-family: 'Overpass', sans-serif;
    color: rgb(66, 66, 66);
    letter-spacing: .2px;
}

.quiet-header-2 {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
    color: rgb(122, 120, 120);
    letter-spacing: .2px;
}

.track-show-related-tracks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 358px;
    height: 400px;
}

.related-tracks-header-container {
    width: 90%;
    height: 50px;
    border-bottom: 1px solid rgb(221, 220, 220);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 5px;
}

.related-tracks-header-container:hover {
    cursor: pointer;
}

.related-tracks-header-container:hover .view-all-header {
    color: rgb(66, 65, 65);
}

.related-tracks-header {
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    color: rgb(143, 141, 141);
    letter-spacing: .2px;
}

.view-all-header {
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    color: rgb(143, 141, 141);
    letter-spacing: .2px;
    text-decoration: none;
}

.related-track-header-and-icon {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    width: 150px;
}

.sound-bar-icon {
    height: 18px;
    width: 18px;
    margin-right: 4px;
    opacity: .5;
}

.related-tracks-track {
    margin-top: 15px;
    width: 90%;
    display: flex;
    justify-content: left;
}

.related-tracks-album-pic {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.related-tracks-track-name-and-artist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
}

.related-track-artist-name {
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    color: rgb(143, 141, 141);
    letter-spacing: .2px;
    text-decoration: none;
}

.related-track-track-title {
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    color: rgb(82, 80, 80);
    letter-spacing: .2px;
    text-decoration: none;
}