.upload-button-container {
    display: flex;
    justify-content: center;
}

.upload-button {
    margin-top: 30%;
    background-color: #FF5500;
    color: white;
    padding: 8px 35px 8px 35px;
    border: 1px white;
    border-radius: 3px;
    font-size: 15px;
}