.upload-button-container {
    display: flex;
    justify-content: center;
}

.upload-button {
    margin-top: 30%;
    background-color: #FF5500;
    color: white;
    width: 280px;
    height: 25px;
    border: 1px white;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Overpass', sans-serif;
}