.upload-form-container {
   display: flex;
   justify-content: center;
 }

 .upload-form {
   display: flex;
   align-items: center;
   flex-direction: column;
   text-align: center;
 }

 .upload-form > h3 {
   margin: 10px;
   font-size: 32px;
   font-family: 'Montserrat', sans-serif;
 }

 .upload-form > input {
   width: 70%;
   height: 25px;
   margin: 10px;
   border: 1px solid rgb(190, 190, 190);
   border-radius: 3px;
 }

 .upload-input {
   margin-left: 20px;
   size: 25px;
   font-size: 15px;
   text-align: center;
 }
 
 .upload-form-box {
   outline: 1px solid white;
   border-color: white;
   border-radius: 2px;
   height: auto;
   width: 450px;
   padding: 20px;
   background: rgb(255, 255, 255);
   position: relative;
 }

 .upload-submit {
   text-transform: capitalize;
   background-color: orange;
   height: 35px;
   font-size: 15px;
   width: 71%;
   font-size: 17px;
   font-family: 'Montserrat', sans-serif;
 }

 .upload-errors {
   list-style: none;
   font-family: 'Montserrat', sans-serif;
   color: rgb(245, 7, 7);
 }
