.artist-profile-pic {
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.profile-header {
    position: relative;
}

.cover-picture {
    width: 100%;
    height: 210px;
}

.profile-picture-and-name {
    position: absolute;
    bottom: 25px;
    left: 20px;
    display: flex;
    flex-direction: left;
}

.artist-cover-pic {
    width: 98%;
    height: 100%;
    padding-left: 10px;
}

.profile-username {
    margin-left: 15px;
    margin-top: 5px;
    color: white;
    background-color: transparentize($color: #000000, $amount: .4);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 200;
    height: 22px;
    padding: 5px;
}

.recent-tracks {
    margin-left: 10px;
    margin-top: 15px;
    width: 70%;
}

.recent-header {
    font-size: 20px;
    font-family: "interstate";
    color: rgb(53, 51, 51);
}
.track-index-item-container {
    display: flex;
    justify-content: left;
    // border: 5px solid red;
}
.tracks {
    width: 100%;
    margin-top: 15px;
}

.track-image {
    width: 128px;
    height: 128px; 
}

.play-button, .pause-button {
    height: 25px;
    width: 25px;
}

.play-button:hover, .pause-button:hover {
    cursor: pointer;
}

.play-pause-buttons-container {
    display: flex;
    justify-content: left;
    padding-left: 10px;
}

.track-artist-name {
    text-decoration: none;
}

.track-info {
    padding-left: 5px;
}

.track-artist-name {
    font-size: 13px;
    color: grey;
}

.track-artist-name:hover {
    color: rgb(59, 59, 59)
}

.track-title {
    font-size: 15px;
    color: rgb(59, 59, 59);
}

.track-genre {
    display: flex;
    flex-direction: column; 
    background-color: grey;
    color: white;
    font-size: 12px;
    padding: 1px 4px 1px 4px;
    height: 15%;
    border-radius: 30%;
}

.track-info-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.edit-delete-buttons-container {
    margin-left: 140px;
    display: flex;
    justify-content: left;
}

.edit-button, .delete-button {
    margin-right: 10px;
    margin-top: 5px;
    font-size: 9px; 
    width: 10%;
    display:flex; 
    justify-content: center; 
    align-items:center;
    font-size: 11px;
    border: 1px solid rgb(149, 144, 144); 
    padding: 1px;
}

.track-index-with-buttons{
    margin-bottom: 30px;
}

.edit-button:hover, .delete-button:hover {
    border: 1px solid rgb(56, 56, 56); 
    cursor: pointer;
}

.pencil-icon {
    height: 18px;
    width: 18px;
    margin-right: 3px;
} 

.trash-icon {
    height: 13px;
    width: 13px;
    margin-right: 3px; 
}