.profile-header {
    position: relative;
}

.artist-cover-pic {
    width: 98%;
    height: 210px;
    padding-left: 10px;
}

.artist-profile-pic {
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.profile-picture-and-name {
    position: absolute;
    bottom: 25px;
    left: 20px;
    display: flex;
    flex-direction: left;
}

.profile-username {
    margin-left: 15px;
    margin-top: 5px;
    color: white;
    background-color: transparentize($color: #000000, $amount: .4);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 200;
    height: 22px;
    padding: 5px;
}

.recent-tracks {
    margin-left: 10px;
    margin-top: 15px;
    width: 70%;
}

.recent-header {
    font-size: 20px;
    font-family: "interstate";
    color: rgb(53, 51, 51);
}

.tracks {
    width: 100%;
    margin-top: 15px;
}

.upload-container {
    height: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgb(226, 223, 223); 
}

.user-show-upload {
    display: block;
    background-color:#FF5500;
    width: 75px;
    text-decoration: none;
    color: white;
    border: 1px thin rgb(149, 147, 147);
    border-radius: 7%;
    padding: 4px 6px 4px 6px;
    font-size: 14px;
}

.upload-phrase {
    font-size: 12px;
    margin-bottom: 15px; 
    margin-top: 20px; 
}
